/*
  concept
*/
.concept {
  text-align: center;
  color: #fff;
  background: $base-color;
  padding: rem(53) rem(10) rem(64);
  position: relative;
  overflow: hidden;
  @include mq(md) {
    padding: rem(120) 0 rem(110); 
  }
}

.concept__title {
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(24);
  letter-spacing: 0.05em;
  padding-left: rem(15);
  @include mq(md) {
    font-size: rem(30); 
    margin-bottom: rem(48);
  }
}

.concept__text {
  font-size: rem(16);
  padding: 0 rem(10);
  @include mq(md) {
    font-size: rem(18); 
  }

  &:not(:last-child) {
    margin-bottom: rem(23);
    @include mq(md) {
      margin-bottom: rem(20);
    }
  }
}

.concept__bg {
  color: rgba(103, 103, 103, 0.3);
  font-size: rem(110);
  font-family: $second-font-family;
  line-height: 0.8;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: rem(-10);
  right: 0;
  text-align: right;
  @include mq(md) {
    font-size: rem(180);
    white-space: nowrap; 
    right: unset;
    left: -4%;
  }
  @include mq(xl) {
    font-size: rem(280);
  }
}