/*
  mv
*/
.mv {
  background: $base-color;
  padding: rem(30) 0 rem(23);
  position: relative;
  margin: rem(-2) 0;
}

.mv__content {
  color: #fff;
  position: relative;
  z-index: 30;
}

.mv__title {
  font-family: $second-font-family;
  font-size: rem(36);
  line-height: 1.1;
  margin-bottom: rem(15);

  span {
    color: $accent-color;
  }
}

.mv__text {
  font-size: rem(14);
  font-weight: 500;
  margin-left: rem(10);

  span {
    display: inline-block;
    margin-top: rem(10);
    margin-left: rem(-10);
    background: $accent-color;
    padding: rem(4);
    padding-right: rem(10);
  }
}

.mv__img {
  background: url(../img/mv.jpg) no-repeat center center / cover;
  height: rem(243);
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}