/*
  mv
*/
.mv {
  background: $base-color;
  height: rem(243);
  padding-top: rem(30);
  position: relative;
  margin: rem(-2) 0;
  @include mq(md) {
    height: rem(650); 
    padding-top: rem(94);
  }
}

.mv__content {
  color: #fff;
  position: relative;
  z-index: 30;
}

.mv__title {
  font-family: $second-font-family;
  font-size: rem(36);
  line-height: 1.1;
  margin-bottom: rem(15);
  @include mq(md) {
    font-size: rem(100);
    line-height: 1; 
    margin-bottom: rem(37);
  }

  span {
    color: $accent-color;
  }
}

.mv__text {
  font-size: rem(14);
  font-weight: 500;
  margin-left: rem(10);
  @include mq(md) {
    font-size: rem(32); 
    font-weight: 700;
    margin-left: rem(20);
  }

  span {
    display: inline-block;
    margin-top: rem(10);
    margin-left: rem(-10);
    background: $accent-color;
    padding: rem(4);
    padding-right: rem(10);
    @include mq(md) {
      padding: rem(7);
      padding-right: rem(15);
      margin-left: rem(-20);
    }
  }
}

.mv__img {
  background: url(../img/mv.jpg) no-repeat center center / cover;
  height: inherit;
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  @include mq(md) {
    width: 75%; 
  }
}