/*
  shop
*/
.shop {
  padding: rem(64) 0;
}

.shop__title {
  margin-bottom: rem(56);
}

.shop__map {
  margin-bottom: rem(56);
}

.shop__content {

}

.shop__body {
  max-width: rem(500);
  margin: 0 auto;
  margin-bottom: rem(40);
}

.shop__name {
  text-align: center;
  font-family: $second-font-family;
  font-size: rem(32);
  line-height: 0.8;
  margin-bottom: rem(24);
}

.shop__subname {
  font-size: rem(18);
  margin-right: rem(4);
}

.shop__janame {
  font-size: rem(16);
  font-family: $base-font-family;
}

.shop__address {
  font-size: rem(16);
  line-height: 1.7;
  margin-bottom: rem(5);
}

.shop__time {
  font-size: rem(16);

  dt {
    min-width: rem(70);
    margin-right: rem(10);
  }
}

.shop__flex {
  display: flex;
}

.shop__img {
  max-width: rem(500);
  margin: 0 auto;
  margin-bottom: rem(98);
}

.shop__card {
  background: #fff;
  box-shadow: 0 rem(4) rem(20) rgba(161, 159, 159, 0.6);
  padding: rem(18) rem(10) rem(113);
  position: relative;
  max-width: rem(500);
  margin: 0 auto;
}

.shop__card-logo {
  width: rem(112);
  position: absolute;
  left: rem(-16);
  top: rem(-40);
  z-index: 30;
}

.shop__card-imgs {
  margin-bottom: rem(20);
  z-index: 20;
}

.shop__card-img {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 28px);
    border: rem(1) solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &:first-of-type {
    &::after {
      height: calc(100% - 25px);
    }
  }
  
  &:last-of-type {
    &::after {
      height: calc(100% - 19px);
    }
  }
}

.shop__card-body {

}

.shop__card-text {
  font-size: rem(16);
  line-height: 2.5;
  border-bottom: rem(1) solid #c4c4c4;
  display: inline;
  padding-bottom: rem(5);
  padding: rem(5);
}

.shop__card-entext1 {
  font-family: $third-font-family;
  font-size: rem(30);
}

.shop__card-entext2 {
  position: absolute;
  width: rem(300);
  bottom: rem(30);
  right: rem(0);
}

