/*
  shop
*/
.shop {
  padding: rem(64) 0;

  @include mq(md) {
    padding: rem(120) 0;
  }
}

.shop__title {
  margin-bottom: rem(56);

  @include mq(md) {
    margin-bottom: rem(80);
  }
}

.shop__map {
  margin-bottom: rem(56);

  @include mq(md) {
    margin-bottom: rem(80);
  }
}

.shop__content {
  @include mq(md) {
    display: flex;
    align-items: center;
    position: relative;
    height: rem(500);
    margin-bottom: rem(80);
  }
}

.shop__body {
  max-width: rem(500);
  margin: 0 auto;
  margin-bottom: rem(40);

  @include mq(md) {
    max-width: unset;
    margin: 0;
    margin-right: 5%;
    min-width: 40%;
  }

  @include mq(xl) {
    margin-right: 10%;
  }
}

.shop__name {
  text-align: center;
  font-family: $second-font-family;
  font-size: rem(32);
  line-height: 0.8;
  margin-bottom: rem(24);

  @include mq(md) {
    text-align: left;
  }
}

.shop__subname {
  font-size: rem(18);
  margin-right: rem(4);
}

.shop__janame {
  font-size: rem(16);
  font-family: $base-font-family;
}

.shop__address {
  font-size: rem(16);
  line-height: 1.7;
  margin-bottom: rem(5);

  @include mq(md) {
    font-size: rem(18);
    margin-bottom: rem(17);
    line-height: 2;
  }
}

.shop__time {
  font-size: rem(16);

  @include mq(md) {
    font-size: rem(18);
    line-height: 2;
  }

  dt {
    min-width: rem(70);
    margin-right: rem(10);
  }
}

.shop__flex {
  display: flex;
}

.shop__img {
  max-width: rem(500);
  margin: 0 auto;
  margin-bottom: rem(98);

  @include mq(md) {
    max-width: unset;
    margin: 0;
    margin-right: calc(50% - 50vw);
    width: 100vw;
    height: rem(500);

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.shop__card {
  background: #fff;
  box-shadow: 0 rem(4) rem(20) rgba(161, 159, 159, 0.6);
  padding: rem(18) rem(10) rem(113);
  position: relative;
  max-width: rem(500);
  margin: 0 auto;

  @include mq(md) {
    max-width: unset;
    width: rem(1140);
    max-width: 100%;
    padding: rem(30) rem(32) rem(40);
  }
}

.shop__card-logo {
  width: rem(112);
  position: absolute;
  left: rem(-16);
  top: rem(-40);
  z-index: 30;

  @include mq(md) {
    width: rem(288);
    top: rem(-80);
    left: rem(-50);
  }

  @include mq(xl) {
    left: rem(-120);
  }
}

.shop__card-imgs {
  margin-bottom: rem(20);
  z-index: 20;

  @include mq(md) {
    display: flex;
    margin-bottom: rem(45);
  }
}

.shop__card-img {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% - 28px);
    border: rem(1) solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:first-of-type {
    &::after {
      height: calc(100% - 25px);

      @include mq(md) {
        width: calc(100% - 55px);
        height: calc(100% - 38px);
      }
    }
  }

  &:last-of-type {
    &::after {
      height: calc(100% - 19px);

      @include mq(md) {
        width: calc(100% - 38px);
        height: calc(100% - 38px);
      }
    }
  }
}

.shop__card-body {
  position: relative;

  @include mq(md) {
    padding: 0 18% 0 25%;
  }
}

.shop__card-text {
  font-size: rem(16);
  line-height: 2.5;
  // border-bottom: rem(1) solid #c4c4c4;
  // display: inline;
  padding: rem(7);
  padding-bottom: rem(10);

  line-height: rem(40);
  background-position: 0 0;
  /* line-height に合わせる */
  background-size: rem(42) rem(42);
  background-color: #fff;
  background-repeat: repeat;
  background-image:
  linear-gradient(180deg, transparent rem(41), #c4c4c4 rem(41));
  
  @include mq(md) {
    display: inline;
    background: linear-gradient(#c4c4c4, #c4c4c4) 0 100%/0 rem(1) no-repeat;
    background-position: 100% 100%;
    background-size: 100% rem(1);
  }
}

.shop__card-entext1 {
  font-family: $third-font-family;
  font-size: rem(30);
  white-space: nowrap;

  @include mq(md) {
    font-size: rem(48);
    margin-right: rem(52);
    position: absolute;
    top: rem(-20);
    left: 0;
  }
}

.shop__card-entext2 {
  position: absolute;
  width: rem(300);
  bottom: rem(-80);
  right: rem(-20);

  @include mq(md) {
    bottom: rem(-25);
  }
}