@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.u-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-pc {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-sp {
    display: none;
  }
}

/* Google Fonts */
/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif !important;
  font-weight: 400;
  color: #333;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5640273705vw;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

picture {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default type */
ul,
ol {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

/* Remove default margin padding */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*
  drawer
*/
.drawer {
  position: fixed;
  z-index: 200;
  top: 90px;
  top: 5.625rem;
  left: 0;
  color: #333;
  background: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-top: 2.5rem;
}

.drawer__item {
  width: 100%;
  padding: 0.8em 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

/* このクラスを、jQueryで付与・削除する */
.drawer--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.drawer--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*
  fnav 
*/
.fnav {
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

.fnav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fnav__menu-item {
  font-family: reross-quadratic, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.03em;
  display: block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fnav__menu-item {
    font-size: 1.125rem;
  }
}
.fnav__menu-item:not(:last-child) {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .fnav__menu-item:not(:last-child) {
    margin-right: 2.5rem;
  }
}
.fnav__menu-item::after {
  position: absolute;
  bottom: 16px;
  bottom: 1rem;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #159741;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.fnav__menu-item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.fnav__menu-item a {
  display: inline-block;
  padding: 20px 0;
  padding: 1.25rem 0;
}
.fnav__menu-item a:hover {
  opacity: 1;
}

/*
  footer
*/
.footer {
  background: #f2f2f2;
  padding: 48px 0 9px;
  padding: 3rem 0 0.5625rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 3.5rem;
  }
}

.footer__logo {
  width: 165px;
  width: 10.3125rem;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 1.375rem;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

/*
  form
*/
.form__content {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .form__content {
    margin-bottom: 1.75rem;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 34px;
  margin-bottom: 2.125rem;
}
@media screen and (min-width: 768px) {
  .form__item:not(:last-child) {
    margin-bottom: 2.25rem;
  }
}

.form__item-text {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  line-height: 16px;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  .form__item-text {
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
  }
}
.form__item-text span {
  color: #fff;
  background: #159741;
  font-size: 12px;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  padding: 2px 8px;
  padding: 0.125rem 0.5rem;
  margin-left: 10px;
  margin-left: 0.625rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .form__item-text span {
    margin-left: 1rem;
    padding: 0.125rem 0.4375rem;
  }
}

input[type=text], input[type=email], input[type=tel], textarea {
  background: #fff;
  width: 100%;
  border: 1px solid #2f2f2f;
  border: 0.0625rem solid #2f2f2f;
  padding: 0 16px;
  padding: 0 1rem;
}
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, textarea::-moz-placeholder {
  color: #bdbdbd;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bdbdbd;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, textarea::placeholder {
  color: #bdbdbd;
}
input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, input[type=tel]:hover, input[type=tel]:focus, textarea:hover, textarea:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #159741;
  border: 0.0625rem solid #159741;
  -webkit-box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
          box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
}

input[type=text], input[type=email], input[type=tel] {
  height: 56px;
  height: 3.5rem;
}
@media screen and (min-width: 768px) {
  input[type=text], input[type=email], input[type=tel] {
    height: 3.125rem;
  }
}

textarea {
  height: 160px;
  height: 10rem;
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
}

.form__check {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form__check {
    margin-bottom: 2.6875rem;
    padding-left: 1.5625rem;
  }
}

.form__check-box + .form__check-text {
  cursor: pointer;
  display: inline-block;
  padding-left: 35px;
  padding-left: 2.1875rem;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .form__check-box + .form__check-text {
    font-size: 1.125rem;
    padding-left: 2.5rem;
  }
}
.form__check-box + .form__check-text:hover::before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #159741;
  border: 0.0625rem solid #159741;
  -webkit-box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
          box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
}
.form__check-box + .form__check-text:active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.form__check-box + .form__check-text:active::before {
  -webkit-transition: all 1s;
  transition: all 1s;
  background: rgba(21, 151, 65, .15);
  -webkit-box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
          box-shadow: 0 0 0.625rem rgba(21, 151, 65, .15);
}
.form__check-box + .form__check-text::before, .form__check-box + .form__check-text::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  width: 1em;
}
.form__check-box + .form__check-text::before {
  background: #fff;
  border: 1px solid #2f2f2f;
  border: 0.0625rem solid #2f2f2f;
  border-radius: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  left: 0px;
  left: 0rem;
  margin-top: -1px;
  margin-top: -0.0625rem;
  top: 60%;
}
.form__check-box + .form__check-text::after {
  border-bottom: 2px solid #159741;
  border-bottom: 0.125rem solid #159741;
  border-left: 2px solid #159741;
  border-left: 0.125rem solid #159741;
  height: 10px;
  height: 0.625rem;
  width: 20px;
  width: 1.25rem;
  margin-top: -2px;
  margin-top: -0.125rem;
  opacity: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  left: 5px;
  left: 0.3125rem;
}

.form__check-box:checked + .form__check-text::after {
  opacity: 1;
}

.form__privacy {
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #159741;
  border-bottom: 1px solid #159741;
  border-bottom: 0.0625rem solid #159741;
}
.form__privacy:hover {
  opacity: 0.7;
}

.form__submit-btn {
  color: #fff;
  display: block;
  background: #bdbdbd;
  margin: 0 auto;
  width: 300px;
  width: 18.75rem;
  height: 58px;
  height: 3.625rem;
  line-height: 56px;
  line-height: 3.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .form__submit-btn {
    width: 14.9375rem;
    height: 3.5rem;
    line-height: 3.375rem;
  }
}
.form__submit-btn:hover {
  background: rgba(21, 151, 65, .7);
}

.form__submit-btn--active {
  background: #159741;
}

/*
  gnav
*/
.gnav {
  height: inherit;
}

.gnav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.gnav__menu-item {
  font-family: reross-quadratic, sans-serif;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  height: inherit;
  position: relative;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .gnav__menu-item {
    font-size: 1.125rem;
  }
}
.gnav__menu-item:not(:last-child) {
  margin-right: 20px;
  margin-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .gnav__menu-item:not(:last-child) {
    margin-right: 2.5rem;
  }
}
.gnav__menu-item::after {
  position: absolute;
  bottom: 16px;
  bottom: 1rem;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #159741;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media screen and (min-width: 768px) {
  .gnav__menu-item::after {
    bottom: 1.5625rem;
  }
}
.gnav__menu-item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.gnav__menu-item a {
  display: inline-block;
  padding: 20px 0;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.gnav__menu-item a:hover {
  opacity: 1;
}

/*
  hamburger
*/
.hamburger {
  display: block;
  position: absolute;
  z-index: 300;
  right: 30px;
  right: 1.875rem;
  top: 30px;
  top: 1.875rem;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  cursor: pointer;
  text-align: center;
}

.hamburger__border {
  display: block;
  position: absolute;
  width: 30px;
  width: 1.875rem;
  height: 2px;
  height: 0.125rem;
  left: 6px;
  left: 0.375rem;
  background: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hamburger__border:nth-child(1) {
  top: 10px;
  top: 0.625rem;
}
.hamburger__border:nth-child(2) {
  top: 20px;
  top: 1.25rem;
}
.hamburger__border:nth-child(3) {
  top: 30px;
  top: 1.875rem;
}

/* ナビ開いてる時のボタン */
.hamburger--active .hamburger__border:nth-child(1) {
  top: 16px;
  top: 1rem;
  left: 6px;
  left: 0.375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger--active .hamburger__border:nth-child(2), .hamburger--active .hamburger__border:nth-child(3) {
  top: 16px;
  top: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*
  header
*/
.header {
  height: 60px;
  height: 3.75rem;
  background: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .header {
    height: 5.625rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__inner.l-inner {
    max-width: unset;
    padding-left: 2.0625rem;
    padding-right: 4.4375rem;
  }
}
@media screen and (min-width: 1600px) {
  .header__inner.l-inner {
    max-width: 100rem;
    padding: 0 1.5625rem;
  }
}

.header__logo {
  width: 55px;
  width: 3.4375rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 7.1875rem;
  }
}

/*
  image-wrapper
*/
/*
  image
*/
.image {
  z-index: 20;
}

/*
  instagram-inner
*/
.instagram-inner.l-inner {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .instagram-inner.l-inner {
    padding: 0 1.5625rem;
  }
}

/*
  instagram
*/
.instagram {
  background: #f2f2f2;
  padding: 0 20px 34px;
  padding: 0 1.25rem 2.125rem;
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .instagram {
    max-width: unset;
    padding: 0 3.875rem 2.25rem;
    padding-left: 2.875rem;
    text-align: center;
  }
}
.instagram::before {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #333;
  border: 0.0625rem solid #333;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -5;
}
@media screen and (min-width: 768px) {
  .instagram::before {
    width: calc(100% - 26px);
    height: calc(100% - 26px);
  }
}

.instagram__title {
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  background: #159741;
  position: relative;
  padding: 7px 0;
  padding: 0.4375rem 0;
  letter-spacing: 0.03em;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  width: 185px;
  width: 11.5625rem;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .instagram__title {
    width: 22.5rem;
    padding: 0.9375rem 0;
    font-size: 1.875rem;
    margin-bottom: 1.75rem;
  }
}

.instagram__text {
  font-size: 16px;
  font-size: 1rem;
  padding: 0 8px;
  padding: 0 0.5rem;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .instagram__text {
    position: relative;
    margin-bottom: 2.125rem;
    display: inline-block;
    font-size: 1.0625rem;
    padding: 0;
  }
  .instagram__text::before, .instagram__text::after {
    position: absolute;
    content: "";
    width: 0.0625rem;
    height: 2.1875rem;
    background: #333;
    top: -0.3125rem;
  }
  .instagram__text::before {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    left: -1.25rem;
  }
  .instagram__text::after {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    right: -1.25rem;
  }
}

.instagram__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -2px;
  margin-bottom: -0.125rem;
}
@media screen and (min-width: 768px) {
  .instagram__items {
    margin-bottom: 0.5rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
}

.instagram__item {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .instagram__item {
    margin-bottom: 0;
    min-width: 14.375rem;
  }
}
.instagram__item:not(:nth-child(2n)) {
  margin-right: 10px;
  margin-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .instagram__item:not(:nth-child(2n)) {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .instagram__item:not(:last-child) {
    margin-right: 1rem;
  }
}

.instagram__id {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .instagram__id {
    font-size: 1.125rem;
    margin-bottom: 1.625rem;
  }
}

.instagram__btn {
  border: 1px solid #333;
  border: 0.0625rem solid #333;
  display: block;
  width: 260px;
  width: 16.25rem;
  max-width: 100%;
  text-align: center;
  height: 56px;
  height: 3.5rem;
  line-height: 54px;
  line-height: 3.375rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  letter-spacing: 0.03em;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .instagram__btn {
    width: 18.75rem;
    padding-right: 0;
    padding-left: 0;
  }
}
.instagram__btn:hover {
  color: #fff;
  background: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.instagram__btn:hover .instagram__btn-text {
  background: url(../img/link-icon-2.svg) no-repeat right 10px center/14px;
  background: url(../img/link-icon-2.svg) no-repeat right 0.625rem center/0.875rem;
}
@media screen and (min-width: 768px) {
  .instagram__btn:hover .instagram__btn-text {
    background: url(../img/link-icon-2.svg) no-repeat right 1.875rem center/1rem;
  }
}

.instagram__btn-text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  background: url(../img/link-icon.svg) no-repeat right 10px center/14px;
  background: url(../img/link-icon.svg) no-repeat right 0.625rem center/0.875rem;
}
@media screen and (min-width: 768px) {
  .instagram__btn-text {
    background: url(../img/link-icon.svg) no-repeat right 1.875rem center/1rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1130px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/*
  modal
*/
.modal__overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, .6);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.modal__container {
  position: relative;
  background-color: #fff;
  height: 60vh;
  overflow-y: auto;
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
  width: 85%;
  max-width: 800px;
  max-width: 50rem;
}
@media screen and (min-width: 768px) {
  .modal__container {
    padding: 2.1875rem 1.875rem;
  }
}
@media screen and (min-width: 1100px) {
  .modal__container {
    padding: 2.1875rem 3.875rem;
    height: 70vh;
  }
}

.modal__subtitle.section-subtitle {
  font-size: 12px;
  font-size: 0.75rem;
}

.modal__title.section-title {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.modal__close {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  position: absolute;
  top: 20px;
  top: 1.25rem;
  right: 20px;
  right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .modal__close {
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
  }
}
@media screen and (min-width: 1100px) {
  .modal__close {
    height: 3.125rem;
  }
}
.modal__close::before, .modal__close::after {
  position: absolute;
  content: "";
  width: 2px;
  width: 0.125rem;
  height: 20px;
  height: 1.25rem;
  background: #000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .modal__close::before, .modal__close::after {
    height: 1.875rem;
  }
}
.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.modal__content {
  line-height: 1.5;
}

.modal__text {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1100px) {
  .modal__text {
    font-size: 1rem;
  }
}
.modal__text:not(:last-child) {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 3px;
  margin-bottom: 0.1875rem;
}
@media screen and (min-width: 1100px) {
  .modal__subtitle {
    font-size: 1.125rem;
  }
}

/* モーダルアニメーション */
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/*
  section-subtitle 
*/
.section-subtitle {
  color: #159741;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 9px;
  margin-bottom: 0.5625rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
  }
}

/*
  section-title
*/
.section-title {
  font-family: reross-quadratic, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 3rem;
    padding-bottom: 1.25rem;
  }
}
.section-title::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  width: 3.125rem;
  height: 2px;
  height: 0.125rem;
  background: #159741;
}

/*
  sns
*/
.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}

.sns__item {
  width: 50px;
  width: 3.125rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .sns__item {
    width: 2.5rem;
  }
}
.sns__item:not(:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}
.sns__item:hover .sns__item--off {
  opacity: 0;
}
.sns__item a {
  display: inline-block;
  position: relative;
}
.sns__item a:hover {
  opacity: 1;
}

.sns__item--off {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
}

.sns__item--on {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
}

/*
  to-top
*/
.to-top {
  position: fixed;
  width: 70px;
  width: 4.375rem;
  right: 16px;
  right: 1rem;
  bottom: 305px;
  bottom: 19.0625rem;
  z-index: 100;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .to-top {
    width: 7.5rem;
    bottom: 17rem;
    right: 4%;
  }
}
.to-top:hover {
  opacity: 1;
}

/*
  about
*/
.about {
  background: #f2f2f2;
  padding: 66px 0 64px;
  padding: 4.125rem 0 4rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 8.4375rem 0 9.375rem;
  }
}

.about__title {
  margin-bottom: 58px;
  margin-bottom: 3.625rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.about__item:not(:last-child) {
  margin-bottom: 56px;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .about__item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.about__item:last-child .about__item-text {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .about__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .about__item:nth-child(odd) .about__item-body {
    padding-top: 0.9375rem;
    padding-left: 0.625rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .about__item:nth-child(odd) .about__item-img {
    margin-right: 3.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__item:nth-child(odd) .about__item-number {
    right: -0.625rem;
    left: unset;
  }
}
@media screen and (min-width: 768px) {
  .about__item:nth-child(odd) .about__item-text {
    margin-bottom: 0;
  }
}

.about__item-body {
  padding-left: 10px;
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .about__item-body {
    width: 26.25rem;
    max-width: 50%;
    padding-left: 0;
    padding-bottom: 0.625rem;
  }
}

.about__item-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  position: relative;
  z-index: 30;
  white-space: nowrap;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .about__item-title {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }
}
.about__item-title span {
  color: #159741;
}

.about__item-text {
  letter-spacing: 0.045em;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .about__item-text {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
}

.about__item-number {
  color: rgba(255, 255, 255, .8);
  font-family: reross-quadratic, sans-serif;
  font-size: 180px;
  font-size: 11.25rem;
  line-height: 1;
  position: absolute;
  right: -15px;
  right: -0.9375rem;
  top: -160px;
  top: -10rem;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .about__item-number {
    right: 48%;
    font-size: 18rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.about__item-img {
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__item-img {
    position: static;
    margin: 0;
    max-width: 50%;
    width: 28.125rem;
  }
}

/*
  concept
*/
.concept {
  text-align: center;
  color: #fff;
  background: #2f2f2f;
  padding: 53px 10px 64px;
  padding: 3.3125rem 0.625rem 4rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .concept {
    padding: 7.8125rem 0 6.875rem;
  }
}

.concept__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
  padding-left: 15px;
  padding-left: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .concept__title {
    font-size: 1.875rem;
    margin-bottom: 3rem;
    padding-left: 0;
  }
}

.concept__text {
  font-size: 16px;
  font-size: 1rem;
  padding: 0 10px;
  padding: 0 0.625rem;
}
@media screen and (min-width: 768px) {
  .concept__text {
    font-size: 1.125rem;
    padding: 0;
  }
}
.concept__text:not(:last-child) {
  margin-bottom: 23px;
  margin-bottom: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .concept__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

.concept__bg {
  color: rgba(103, 103, 103, .3);
  font-size: 110px;
  font-size: 6.875rem;
  font-family: reross-quadratic, sans-serif;
  line-height: 0.8;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: -10px;
  bottom: -0.625rem;
  right: 0;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .concept__bg {
    font-size: 11.25rem;
    white-space: nowrap;
    right: unset;
    left: -4%;
  }
}
@media screen and (min-width: 1100px) {
  .concept__bg {
    font-size: 17.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .concept__bg {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/*
  contact
*/
.contact {
  background: url(../img/contact-bg.jpg) no-repeat center center/cover;
  padding: 64px 0;
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 8.125rem 0;
  }
}

.contact__inner {
  max-width: 850px;
  max-width: 53.125rem;
}

.contact__content {
  background: #f2f2f2;
  padding: 63px 15px;
  padding: 3.9375rem 0.9375rem;
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__content {
    max-width: unset;
    padding: 4rem 8.75rem 4.5rem;
  }
}

.contact__title {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    margin-bottom: 1.75rem;
  }
}

.contact__text {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 35px;
  margin-bottom: 2.1875rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .contact__text {
    text-align: center;
    margin-bottom: 3.25rem;
  }
}

/*
  menu
*/
.menu {
  padding: 24px 0;
  padding: 1.5rem 0;
  background: #2f2f2f;
  z-index: 30;
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 4.5rem 0;
  }
}

.menu__inner {
  max-width: 1345px;
  max-width: 84.0625rem;
}

.menu__content {
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  padding: 32px 20px;
  padding: 2rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .menu__content {
    padding: 5rem 0 6.25rem;
  }
}

.menu__content-inner {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu__content-inner {
    padding: 0 1.5625rem;
  }
}

.menu__subtitle {
  color: #fff;
}

.menu__title {
  color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .menu__title {
    margin-bottom: 2.1875rem;
  }
}
.menu__title::after {
  background: #fff;
}

.menu__pfc {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 318px;
  margin-bottom: 19.875rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .menu__pfc {
    margin-bottom: 6.5625rem;
  }
}

.menu__items {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5rem;
  }
}

.menu__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu__item {
    width: 48.2%;
  }
}
.menu__item:first-child {
  margin-bottom: 309px;
  margin-bottom: 19.3125rem;
}
@media screen and (min-width: 768px) {
  .menu__item:first-child {
    width: 100%;
    margin-bottom: 21.875rem;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item:first-child {
    margin-bottom: 27.6875rem;
  }
}
.menu__item:first-child .menu__item-img {
  width: 315px;
  width: 19.6875rem;
  top: -270px;
  top: -16.875rem;
}
@media screen and (min-width: 768px) {
  .menu__item:first-child .menu__item-img {
    width: 25rem;
    top: -1.25rem;
    left: -65%;
    right: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item:first-child .menu__item-img {
    left: -61%;
    width: 28.1875rem;
    top: -3.125rem;
  }
}
.menu__item:first-child .menu__item-body {
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .menu__item:first-child .menu__item-body {
    width: 31.25rem;
    margin-right: 3.125rem;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item:first-child .menu__item-body {
    margin-right: 4.25rem;
    width: 36.875rem;
  }
}
.menu__item:nth-child(2) {
  margin-bottom: 303px;
  margin-bottom: 18.9375rem;
}
@media screen and (min-width: 768px) {
  .menu__item:nth-child(2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu__item:nth-child(2) .menu__item-body {
    padding: 4.6875rem 0 2.6875rem;
  }
}
.menu__item:nth-child(2) .menu__item-img {
  width: 305px;
  width: 19.0625rem;
  top: -260px;
  top: -16.25rem;
}
@media screen and (min-width: 768px) {
  .menu__item:nth-child(2) .menu__item-img {
    width: 21.875rem;
    top: -18.75rem;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item:nth-child(2) .menu__item-img {
    width: 26.0625rem;
    top: -21.5625rem;
    left: 50%;
  }
}
.menu__item:nth-child(2) .menu__item-price {
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}
.menu__item:last-child .menu__item-body {
  padding: 57px 0 43px;
  padding: 3.5625rem 0 2.6875rem;
}
@media screen and (min-width: 768px) {
  .menu__item:last-child .menu__item-body {
    padding: 5.0625rem 0 2.5rem;
  }
}
.menu__item:last-child .menu__item-title {
  margin-bottom: 7px;
  margin-bottom: 0.4375rem;
}
.menu__item:last-child .menu__item-img {
  width: 310px;
  width: 19.375rem;
  top: -254px;
  top: -15.875rem;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .menu__item:last-child .menu__item-img {
    width: 22.5rem;
    top: -18.125rem;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item:last-child .menu__item-img {
    width: 26.6875rem;
    left: 46%;
    top: -22.1875rem;
  }
}

.menu__item-img {
  position: absolute;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 40;
}
@media screen and (min-width: 768px) {
  .menu__item-img {
    top: -18.75rem;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item-img {
    top: -23.125rem;
  }
}

.menu__item-body {
  position: relative;
  background: #f2f2f2;
  text-align: center;
  padding: 58px 0 43px;
  padding: 3.625rem 0 2.6875rem;
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
  z-index: 25;
}
@media screen and (min-width: 768px) {
  .menu__item-body {
    max-width: unset;
  }
}
.menu__item-body::after {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #333;
  border: 0.0625rem solid #333;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .menu__item-body::after {
    width: calc(100% - 26px);
    height: calc(100% - 26px);
  }
}

.menu__item-title {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  position: relative;
  z-index: 30;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .menu__item-title {
    font-size: 1.875rem;
  }
}

.menu__item-price {
  font-family: reross-quadratic, sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .menu__item-price {
    font-size: 2.5rem;
  }
}

.menu__item-price-mark {
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .menu__item-price-mark {
    font-size: 1.5rem;
    margin-right: 0.375rem;
  }
}

.menu__item-price-tax {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0;
  margin-left: -5px;
  margin-left: -0.3125rem;
}
@media screen and (min-width: 768px) {
  .menu__item-price-tax {
    font-size: 1.125rem;
  }
}

.menu__item-pfc {
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .menu__item-pfc {
    font-size: 1.125rem;
    letter-spacing: 0.07em;
  }
}
@media screen and (min-width: 1100px) {
  .menu__item-pfc {
    font-size: 1.5rem;
  }
}

.menu__item-recommend {
  background: #159741;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 35px 0 15px;
  padding: 2.1875rem 0 0.9375rem;
  width: 211px;
  width: 13.1875rem;
  position: relative;
  z-index: 25;
}
@media screen and (min-width: 768px) {
  .menu__item-recommend {
    padding: 0.5625rem 0;
    width: 15.6875rem;
    margin-bottom: 2.125rem;
  }
}

.menu__item-recommend-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .menu__item-recommend-title {
    font-size: 1.5rem;
  }
}

.menu__item-recommend-subtitle {
  font-family: "Satisfy", cursive;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .menu__item-recommend-subtitle {
    font-size: 0.875rem;
  }
}

/*
  mv
*/
.mv {
  background: #2f2f2f;
  height: 243px;
  height: 15.1875rem;
  padding-top: 32px;
  padding-top: 2rem;
  position: relative;
  margin: -2px 0;
  margin: -0.125rem 0;
}
@media screen and (min-width: 768px) {
  .mv {
    height: 40.625rem;
    padding-top: 5.625rem;
  }
}

.mv__content {
  color: #fff;
  position: relative;
  z-index: 30;
}

.mv__title {
  font-family: reross-quadratic, sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.08;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 6.25rem;
    line-height: 1;
    margin-bottom: 2.3125rem;
  }
}
.mv__title span {
  color: #159741;
}

.mv__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 10px;
  margin-left: 0.625rem;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .mv__text {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1.25rem;
    line-height: 2;
  }
}
.mv__text span {
  display: inline-block;
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-left: -10px;
  margin-left: -0.625rem;
  background: #159741;
  padding: 5px 0;
  padding: 0.3125rem 0;
  padding-right: 10px;
  padding-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .mv__text span {
    padding: 0;
    padding-right: 1.25rem;
    margin-left: -1.25rem;
  }
}

.mv__img {
  background: url(../img/mv.jpg) no-repeat center center/cover;
  height: inherit;
  width: 82%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .mv__img {
    width: 75%;
  }
}

/*
  shop
*/
.shop {
  background: #f2f2f2;
  padding: 64px 0;
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .shop {
    padding: 7.5rem 0;
  }
}

.shop__title {
  margin-bottom: 56px;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .shop__title {
    margin-bottom: 5rem;
  }
}

.shop__map {
  margin-bottom: 56px;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .shop__map {
    margin-bottom: 4.6875rem;
  }
}

@media screen and (min-width: 768px) {
  .shop__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 31.25rem;
    margin-bottom: 5rem;
  }
}

.shop__body {
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .shop__body {
    max-width: unset;
    margin: 0;
    margin-right: 5%;
    min-width: 45%;
  }
}
@media screen and (min-width: 1100px) {
  .shop__body {
    margin-right: 12%;
  }
}

.shop__name {
  text-align: center;
  font-family: reross-quadratic, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 0.8;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .shop__name {
    text-align: left;
  }
}

.shop__subname {
  font-size: 18px;
  font-size: 1.125rem;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.shop__janame {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .shop__janame {
    font-size: 1.0625rem;
  }
}

.shop__address {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .shop__address {
    font-size: 1.125rem;
    margin-bottom: 1.0625rem;
    line-height: 2;
    padding-left: 0;
  }
}

.shop__time {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .shop__time {
    font-size: 1.125rem;
    line-height: 1.9;
    padding-left: 0;
  }
}
.shop__time dt {
  min-width: 70px;
  min-width: 4.375rem;
  margin-right: 15px;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .shop__time dt {
    margin-right: 1.25rem;
  }
}

.shop__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__img {
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 98px;
  margin-bottom: 6.125rem;
}
@media screen and (min-width: 768px) {
  .shop__img {
    max-width: unset;
    margin: 0;
    margin-right: calc(50% - 50vw);
    width: 100vw;
    height: 31.25rem;
  }
  .shop__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.shop__card {
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 1.25rem rgba(161, 159, 159, .6);
          box-shadow: 0 0.25rem 1.25rem rgba(161, 159, 159, .6);
  padding: 18px 10px 103px;
  padding: 1.125rem 0.625rem 6.4375rem;
  position: relative;
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .shop__card {
    max-width: unset;
    max-width: 100%;
    padding: 1.875rem 2rem 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .shop__card-inner {
    max-width: 75rem;
  }
}

.shop__card-logo {
  width: 112px;
  width: 7rem;
  position: absolute;
  left: -16px;
  left: -1rem;
  top: -40px;
  top: -2.5rem;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .shop__card-logo {
    width: 18rem;
    top: -5rem;
    left: -3.125rem;
  }
}
@media screen and (min-width: 1100px) {
  .shop__card-logo {
    left: -7.5rem;
  }
}

.shop__card-imgs {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .shop__card-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.8125rem;
  }
}

.shop__card-img {
  position: relative;
}
.shop__card-img::after {
  position: absolute;
  content: "";
  width: calc(100% - 28px);
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.shop__card-img:first-of-type::after {
  height: calc(100% - 25px);
}
@media screen and (min-width: 768px) {
  .shop__card-img:first-of-type::after {
    width: calc(100% - 55px);
    height: calc(100% - 38px);
  }
}
.shop__card-img:last-of-type::after {
  height: calc(100% - 19px);
}
@media screen and (min-width: 768px) {
  .shop__card-img:last-of-type::after {
    width: calc(100% - 38px);
    height: calc(100% - 38px);
  }
}

.shop__card-body {
  position: relative;
}
@media screen and (min-width: 768px) {
  .shop__card-body {
    padding: 0 21% 0 23%;
  }
}

.shop__card-text {
  font-size: 16px;
  font-size: 1rem;
  padding: 0 9px;
  padding: 0 0.5625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  line-height: 40px;
  line-height: 2.5rem;
  background-position: 0 -5px;
  background-position: 0 -0.3125rem;
  /* line-height に合わせる */
  background-size: 2.5625rem 2.5625rem;
  background-color: #fff;
  background-repeat: repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2.5375rem, transparent), color-stop(2.5375rem, #c4c4c4));
  background-image: linear-gradient(180deg, transparent 2.5375rem, #c4c4c4 2.5375rem);
}
@media screen and (min-width: 768px) {
  .shop__card-text {
    background-size: 2.625rem 2.625rem;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2.5625rem, transparent), color-stop(2.5625rem, #c4c4c4));
    background-image: linear-gradient(180deg, transparent 2.5625rem, #c4c4c4 2.5625rem);
  }
}

.shop__card-entext1 {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  font-size: 1.875rem;
  white-space: nowrap;
  padding-left: 12px;
  padding-left: 0.75rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .shop__card-entext1 {
    font-size: 3rem;
    margin-right: 3.25rem;
    position: absolute;
    top: -1.25rem;
    left: 0;
  }
}

.shop__card-entext2 {
  position: absolute;
  width: 310px;
  width: 19.375rem;
  bottom: -70px;
  bottom: -4.375rem;
  right: -20px;
  right: -1.25rem;
}
@media screen and (min-width: 768px) {
  .shop__card-entext2 {
    bottom: -1.5625rem;
    right: -2.5rem;
    width: 18.75rem;
  }
}
@media screen and (min-width: 1100px) {
  .shop__card-entext2 {
    right: -1.25rem;
    width: 21.25rem;
  }
}