/*
  fnav 
*/
.fnav {
  margin-bottom: rem(23); 
  @include mq(md) {
    
  }
}

.fnav__menu {
  display: flex;
  justify-content: center;
}

.fnav__menu-item {
  font-family: $second-font-family;
  font-size: rem(16);
  display: block;
  position: relative;
  @include mq(md) {
    font-size: rem(18); 
  }

  &:not(:last-child) {
    margin-right: rem(32);
    @include mq(md) {
      margin-right: rem(40);
    }
  }

  &::after {
    position: absolute;
    bottom: rem(16);
    left: 0;
    content: '';
    width: 100%;
    height: rem(2);
    background: $accent-color;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }

  &:hover {
    &::after {
      transform: scale(1, 1);
    }
  }

  a {
    display: inline-block;
    padding: rem(20) 0;

    &:hover {
      opacity: 1;
    }
  }
}