/*
  footer
*/
.footer {
  background: $main-color;
  padding: rem(48) 0 rem(9);
}

.footer__logo {
  width: rem(165);
  margin: 0 auto;
  margin-bottom: rem(30);
}

.footer__copyright {
  text-align: center;
  font-size: rem(12);
}