/*
  gnav
*/
.gnav {
  height: inherit;
}

.gnav__menu {
  display: flex;
  align-items: center;
  height: inherit;
}

.gnav__menu-item {
  font-family: $second-font-family;
  color: #fff;
  font-size: rem(14);
  height: inherit;
  position: relative;
  @include mq(md) {
    font-size: rem(18); 
  }
  &:not(:last-child) {
    margin-right: rem(20);
    @include mq(md) {
      margin-right: rem(40);
    }
  }

  &::after {
    position: absolute;
    bottom: rem(16);
    left: 0;
    content: '';
    width: 100%;
    height: rem(2);
    background: $accent-color;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
    @include mq(md) {
      bottom: rem(25);
    }
  }
  &:hover {
    &::after {
      transform: scale(1, 1);
    }
  }
  a {
    display: inline-block;
    padding: rem(20) 0;
    display: flex;
    align-items: center;
    height: inherit;
    &:hover {
      opacity: 1;
    }
  }
}