/*
  header
*/
.header {
  height: rem(60);
  background: $base-color;
  @include mq(md) {
    height: rem(90); 
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    &.l-inner {
      max-width: unset;
      padding-left: rem(33);
      padding-right: rem(71);
    }
  }
}

.header__logo {
  width: rem(55);
  @include mq(md) {
    width: rem(115); 
  }
}