/*
  section-title
*/
.section-title {
  font-family: $second-font-family;
  font-size: rem(32);
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: rem(14);
  position: relative;
  @include mq(md) {
    font-size: rem(48); 
    padding-bottom: rem(20);
  }
  &::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: rem(50);
    height: rem(2);
    background: $accent-color;
  }
}